.venv
frontend/node_modules
.env
# static
.azure/
__pycache__/
.ipynb_checkpoints/
.vs/LicensingCopilot/v17/DocumentLayout.json
.vs/ProjectSettings.json
.vs/VSWorkspaceState.json
.vs/LicensingCopilot/FileContentIndex/82fc582e-6204-4cd0-8809-2dab14263c5e.vsidx
.vs/LicensingCopilot/v17/.wsuo
.vs/slnx.sqlite
.env.local
